body {
    background-image: url("background2.jpg"); height: auto; 
}

.logo{
    width: 5px;
    cursor: pointer;
}

.navbar{
    width: 90%;
    display: block;
    align-items: center;
    margin: auto;
    padding: 35px 0;
    justify-content: space-between;
}

h1 {
    color: #A0FFE6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

h6 {
    color: #889c97;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    color: cornflowerblue;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar
section{
    display: block;
}

section img{
    display: block;
}

